body{
    margin: 0%;
}

#area1{
    height: 50px;
    background-color: #6B7273;
}

#signup{
    float: right;
    margin-top: 8px;
    margin-right: 5%;
    width: 15%;
}

#area2{
    height: 620px;
    background-color: #D3DBDB;
}

#messageleft{
    margin-top: 60px;
    margin-left: 7%;
    height: 330px;
    width: 340px;
    position: absolute;
    transform: rotate(-47deg);
}

#messageright{
    margin-top: 60px;
    margin-left: 69%;%;
    height: 330px;
    width: 340px;
    position: absolute;
    transform: rotate(47deg);   
}

#loginarea{
    position: absolute;
    margin-top: 250px;
    margin-left: 30%;
    height: 300px;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    border: 8px solid #101245;
}

#heading{
    width: 42%;
    text-align: center;
}

#actualarea{
    margin-left: 5%;
    width: 30%;
}

#submitbutton{
    margin-left: 40%;
    width: 30%;
}